apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ kube_control_plane_internal_network_address }}
  bindPort: {{ kube_control_plane_port }} 
nodeRegistration:
  name: {{ kube_control_plane_name }}
  kubeletExtraArgs:
    node-ip: {{ kube_control_plane_internal_network_address }}
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: "stable"
networking:
  podSubnet: "{{ kube_pod_network_cidr }}"
apiServer:
  certSANs:
    - "{{ kube_control_plane_internal_network_address }}"
    - "{{ kube_control_plane_external_network_address }}"
    - "{{ kube_control_plane_domain_name }}"